{% extends "base.html" %}
{% block title %}
	О проекте
{% endblock %}
{% block content %}
	<div>
		Вас приветствует сайт WeeRGet или просто WG.<br>
		Этот сайт - работа одного человека(меня), но это пока.<br>
		На этом сайте есть два раздела - все о python и собеседования.
		<br>
		На этом замечательном сайте вы можете:

		Повторить теорию о Python, Django, и pytest,<br>
		Подготовиться к собеседованию, пообщаться с дружелюбным комьюнити, найти единомышленников<br>
		и много чего еще...

		<p> На этом сайте собранны материалы со всего интернета, многочисленные видео, документация... </p>
	</div>
{% endblock %}