{% extends "base.html" %}
{% block title %}
    Профиль {{ user.username }}
{% endblock %}
{% block content %}
    <div style="text-align: center;">
        <p> Пользователь: {{ user.username }} </p>
        <p> Email: {{ user.email }} </p>
        <p> Был последний раз в {{ user.last_login.time }} </p>
        {% if request.user == user %}
            <a href="{% url 'user:read_message' %}"> Мои сообщения </a>
            <a href="{% url 'admin:password_change' %}" >Поменять пароль</a>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="nav-link">Выйти</button>
            </form>
        {% else %}
            <a href="{% url 'user:send_message' recipient_id=user.id %}">Написать сообщение</a>
        {% endif %}
    </div>
    <div>
        <h2 style="text-align: center;">Идеи пользователя</h2>
        {% for post_user in posts_user %}
            <h3> {{ post_user.title }}</h3>
            <p> {{ post_user.description }} Опубликованно в {{ post_user.date_post }} </p>
        {% endfor %}
    </div>
{% endblock %}